<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial black, Helvetica, sans-serif;
  margin: 0;
}


.about-section {
  padding: 100px;
  text-align: center;
  background-color: #2d54a979;
  color: rgb(0, 0, 0);
}



@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: inherit;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>NALAIYA THIRAN </h1>
  <p>PROJECT TITLE : SKILL / JOB RECOMMENDER APPLICATION</p>
  <p>TEAM MEMBERS : 4</p>
  <p>TEAM LEAD : Sanjeev P N </p>
  <p>TEAM MEMBER 1 : Sakthisairam S </p>
  <p>TEAM MEMBER 2 : Ram Viswanath I</p>
  <p>TEAM MEMBER 3 : Vishnu M </p>
  

</div>
  

</body>
</html>